<div class="fc-primary container">
  <div class="row mb-6 mt-6">
    <div class="col-md-5 py-3">
      <h1>Request a cryptocurrency payment.</h1>
      <br />
      <ul>
        <li><b>Decentralized</b><br />An open network for transaction requests</li>
        <li><b>Easy-to-use</b><br />No signup or personal information needed to get started</li>
        <li><b>Multiple currency support</b><br />11+ currencies including ETH & DAI</li>
      </ul>
      <a routerLink="/invoice" class="d-inline-block mt-3 fs-16" style="color: #00e6a0">+ Create an Invoice</a>
    </div>
    <div class="col-md-6 ml-md-auto">
      <network-identifier [isRinkeby]="getNetworkValue() == 4"></network-identifier>
      <mat-card class="p-0 br-7 sh-blue">
        <div class="d-flex p-4 btr-7 home-invoice-header">
          <img class="px-3" [style.max-height]="'50px'" src="assets/img/request-logo.png">
          <div class="request-home-address"> 
              <h4 class="fs-16 semi-bold">Your Address</h4>
              <request-address *ngIf="!this.web3Service.accountObservable.value" [noAddress]="true" [showLongAddress]="true" [address]="'Wallet not connected'"></request-address>
              <request-address *ngIf="this.web3Service.accountObservable.value" [showLongAddress]="true" [address]="this.web3Service.accountObservable.value" [primaryLabel]="this.web3Service.accountObservable.value"></request-address>
          </div>
          <div class="ml-auto text-right">
            <h4>&nbsp;</h4>
            <div class="fs-14" [style.opacity]="'0.5'">
              <i class="request-home-date">{{date | date: 'fullDate'}}</i>
            </div>
          </div>
        </div>
        <form [formGroup]="requestForm" autocomplete="off">
          <div class="p-4 mb-5">
            <mat-form-field class="w-100 mb-1 hidden">
              <input matInput type="text" name="ETHAddress" readonly
                [placeholder]="'Your Address'"
                [formControl]="payeePaymentAddressFormControl">
              <mat-error *ngIf="payeePaymentAddressFormControl.hasError('required')">
                Payment address is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="payeePaymentAddressFormControl.hasError('invalidAddress')">
                <strong>Invalid</strong> {{ getBlockchainSymbol() }} address
              </mat-error>
            </mat-form-field>
            <div class="d-flex w-100 mb-1">
              <mat-form-field class="w-100">
                <input matInput type="text" name="expectedAmount" placeholder="Amount"
                  [formControl]="expectedAmountFormControl">
                <mat-error *ngIf="expectedAmountFormControl.hasError('required')">
                  amount is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="expectedAmountFormControl.hasError('pattern')">
                  amount must be a
                  <strong>positive number</strong> with maximum
                  <strong>{{ this.web3Service.getDecimalsForCurrency(this.currencyFormControl.value) }}
                    decimals</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field [style.width]="'80px'">
                <app-currency-selector [formControl]="currencyFormControl" (selectionChange)="onCurrencyChange($event)">
                </app-currency-selector>
              </mat-form-field>
            </div>
            <mat-form-field class="w-100 mb-1">
              <input matInput type="text" name="payerETHAddress" placeholder="To: Wallet Address"
                [formControl]="payerAddressFormControl">
              <mat-error *ngIf="payerAddressFormControl.hasError('required')">
                payer's address is
                <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="!payerAddressFormControl.hasError('invalidAddress') && payerAddressFormControl.hasError('sameAddressAsPayeeAddress')">
                payer's address must be
                <strong>different from yours</strong>
              </mat-error>
              <mat-error
                *ngIf="!payerAddressFormControl.hasError('invalidAddress') && payerAddressFormControl.hasError('sameAddressAsPaymentAddress')">
                payer's address must be
                <strong>different from payment address</strong>
              </mat-error>
              <mat-error *ngIf="payerAddressFormControl.hasError('invalidAddress')">
                <strong>Invalid</strong> ETH address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mb-1" [hidden]="currencyFormControl.value !== 'BTC'">
              <input matInput type="text" [name]="getBlockchainSymbol() + 'RefundAddress'"
                [placeholder]="'On which ' + getBlockchainSymbol() + ' address do you wish to refund the payer?'"
                [formControl]="payerRefundAddressFormControl" [required]="currencyFormControl.value === 'BTC'">
              <mat-error *ngIf="payerRefundAddressFormControl.hasError('required')">
                payer's refund address is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="payerRefundAddressFormControl.hasError('sameAddressAsPaymentAddress')">
                payer's address must be
                <strong>different from payment address</strong>
              </mat-error>
              <mat-error *ngIf="payerRefundAddressFormControl.hasError('invalidAddress')">
                <strong>Invalid</strong> {{ getBlockchainSymbol() }} address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" hintLabel="Max 256 characters">
              <input matInput type="text" name="reason" placeholder="For: Bounty, Salary, Expense, etc… (optional)" maxlength="256"
                [formControl]="reasonFormControl">
              <mat-hint align="end">{{ reasonFormControl?.value.length || 0 }}/256</mat-hint>
            </mat-form-field>
          </div>
          <mat-toolbar class="p-0 bbr-7 cta-toolbar" [style.height]="'70px'">
            <!-- <div></div> -->
            <button class="fs-18" [ngClass]="createLoading ? 'disabled': ''" id="send-request-button" mat-raised-button color="accent" (click)="clickSend()">
                Send Payment&nbsp;
              </button>
            <button class="fs-18" [ngClass]="createLoading ? 'disabled': ''" id="create-request-button" mat-raised-button color="accent" (click)="clickRequest()">
                Request Payment&nbsp;
              </button>
          </mat-toolbar>
        </form>
      </mat-card>
    </div>
  </div>
</div>

<div class="bg-white home-elements">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-6">
        <img style="width: 100%" src="assets/img/home-doc.png" />
      </div>
      <div class="col-md-5 ml-md-auto">
        <h1>Documented transactions</h1>
        <p>Complete records of your cryptocurrency payments to use in your accounting and other flows.</p>
      </div>
    </div>
    <div class="row my-5 pt-4">
      <div class="col-md-5">
        <h1>Peer-to-peer payments</h1>
        <p>The payment goes directly from the payer to your wallet, no middleman.</p>
      </div>
      <div class="col-md-6 ml-md-auto">
        <img style="width: 100%" src="assets/img/home-p2p.png" />
      </div>
    </div>
    <div class="row my-6 pt-4">
      <div class="col-md-5">
        <img style="width: 100%" src="assets/img/home-fees.png" />
      </div>
      <div class="col-md-5 ml-md-auto">
        <h1>No added fees</h1>
        <p>For transactions of any size from anywhere in the world.</p>
      </div>
    </div>
  </div>
</div>

<div class="home-figures">
  <div class="row py-6">
    <div class="col-md-6 home-item">
      <h1>$450,000+</h1>
      <p>has already been transferred<br />
        using the Request network</p>
    </div>
    <div class="col-md-6 home-item">
      <h1>1200+</h1>
      <p>Requests for payment <br />
        already created</p>
    </div>
  </div>
</div>