<div class="fc-primary container">
  <div class="row mb-6 mt-6">
    <div class="col-md-5 py-3">
      <h1>Request a cryptocurrency payment.</h1>
      <br />
      <ul>
        <li><b>Completely Decentralized</b><br />Your data remains independent, trustworthy and accessible</li>
        <li><b>Private and easy-to-use</b><br />No signup or personal information needed to get started</li>
        <li><b>Peer-to-peer</b><br />No middleman means low fees and instant transfers 365 days a year</li>
        <li><b>Advanced Integrations</b><br />Export your data to your accounting software or sync automatically
          with one of our partner apps</li>
      </ul>
      <span class="business-access">
        <b>Are you a busines that needs to add more information to your transaction?</b>
        <br />
        Try our<a routerLink="/invoice" class="d-inline-block mt-3 fs-16" style="color: #00e6a0">&nbsp; invoicing tool</a>.
      </span>
    </div>
    <div class="col-md-6 ml-md-auto">
      <network-identifier [isRinkeby]="getNetworkValue() == 4"></network-identifier>
      <mat-card class="home-request-form p-0 sh-blue">
        <div class="row request-form-tabs">
          <div class="col-md-6 pr-0" >
            <div class="tab-item {{ isRequestForm ? 'active': '' }}" (click)="showRequestForm()">
                Request a payment
            </div>
          </div>
          <div class="col-md-6 pl-0" (click)="showPaymentForm()">
              <div class="tab-item {{ !isRequestForm ? 'active': '' }}" (click)="showPaymentForm()">
                  Send a payment
              </div>
          </div>
        </div>
        <div class="d-flex p-4 btr-7 home-invoice-header">
          <img class="px-3" [style.max-height]="'50px'" src="assets/img/request-logo.png">
          <div class="ml-auto text-right">
            <h4>{{ isRequestForm ? 'New Request': 'New Payment'}}</h4>
            <div class="fs-14" [style.opacity]="'0.5'">
              <i class="request-home-date">{{date | date: 'fullDate'}}</i>
            </div>
          </div>
        </div>
        <form [formGroup]="requestForm" autocomplete="off">
          <div class="p-4 mb-5">
            <mat-form-field class="w-100 mb-1" *ngIf="isRequestForm">
              <input matInput type="text" name="ETHAddress" [placeholder]="'On which ' + getBlockchainSymbol() + ' address do you want to receieve the funds?'"
                [formControl]="payeePaymentAddressFormControl">
              <mat-error *ngIf="payeePaymentAddressFormControl.hasError('required')">
                Payment address is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="payeePaymentAddressFormControl.hasError('invalidAddress')">
                <strong>Invalid</strong> {{ getBlockchainSymbol() }} address
              </mat-error>
            </mat-form-field>
            <div class="d-flex w-100 mb-1">
              <mat-form-field class="w-100">
                <input matInput type="text" name="expectedAmount" placeholder="Amount"
                  [formControl]="expectedAmountFormControl">
                <mat-error *ngIf="expectedAmountFormControl.hasError('required')">
                  amount is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="expectedAmountFormControl.hasError('pattern')">
                  amount must be a
                  <strong>positive number</strong> with maximum
                  <strong>{{ this.web3Service.getDecimalsForCurrency(this.currencyFormControl.value) }}
                    decimals</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field [style.width]="'80px'">
                <app-currency-selector [formControl]="currencyFormControl" (selectionChange)="onCurrencyChange($event)">
                </app-currency-selector>
              </mat-form-field>
            </div>
            <mat-form-field class="w-100 mb-1">
              <input matInput type="text" name="payerETHAddress"
                placeholder="{{ isRequestForm ? 'Payer’s Ethereum or ENS address': 'Recipient’s Ethereum or ENS address'}}"
                [formControl]="payerAddressFormControl">
              <mat-error *ngIf="payerAddressFormControl.hasError('required')">
                payer's address is
                <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="!payerAddressFormControl.hasError('invalidAddress') && payerAddressFormControl.hasError('sameAddressAsPayeeAddress')">
                payer's address must be
                <strong>different from yours</strong>
              </mat-error>
              <mat-error
                *ngIf="!payerAddressFormControl.hasError('invalidAddress') && payerAddressFormControl.hasError('sameAddressAsPaymentAddress')">
                payer's address must be
                <strong>different from payment address</strong>
              </mat-error>
              <mat-error *ngIf="payerAddressFormControl.hasError('invalidAddress')">
                <strong>Invalid</strong> ETH address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mb-1" [hidden]="currencyFormControl.value !== 'BTC'">
              <input matInput type="text" [name]="getBlockchainSymbol() + 'RefundAddress'"
                [placeholder]="'On which ' + getBlockchainSymbol() + ' address do you wish to refund the payer?'"
                [formControl]="payerRefundAddressFormControl" [required]="currencyFormControl.value === 'BTC'">
              <mat-error *ngIf="payerRefundAddressFormControl.hasError('required')">
                payer's refund address is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="payerRefundAddressFormControl.hasError('sameAddressAsPaymentAddress')">
                payer's address must be
                <strong>different from payment address</strong>
              </mat-error>
              <mat-error *ngIf="payerRefundAddressFormControl.hasError('invalidAddress')">
                <strong>Invalid</strong> {{ getBlockchainSymbol() }} address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" hintLabel="Max 256 characters">
              <input matInput type="text" name="reason" placeholder="Reason (optional)"
                maxlength="256" [formControl]="reasonFormControl">
              <mat-hint align="end">{{ reasonFormControl?.value.length || 0 }}/256</mat-hint>
            </mat-form-field>
          </div>
          <mat-toolbar class="p-0 bbr-7 cta-toolbar" [style.height]="'70px'">
            <div></div>
            <button *ngIf="!isRequestForm" class="fs-18" [ngClass]="createLoading ? 'disabled': ''"
              id="send-request-button" mat-raised-button color="accent" (click)="clickSend()">
              Pay Now&nbsp;
              <i *ngIf="createLoading" class="fa fa-circle-o-notch fa-spin" style="margin-left: 6px;"></i>
            </button>
            <button *ngIf="isRequestForm" class="fs-18" [ngClass]="createLoading ? 'disabled': ''"
              id="create-request-button" mat-raised-button color="accent" (click)="clickRequest()">
              Create a Request&nbsp;
              <i *ngIf="createLoading" class="fa fa-circle-o-notch fa-spin" style="margin-left: 6px;"></i>
            </button>
          </mat-toolbar>
        </form>
      </mat-card>
    </div>
  </div>
</div>

<div class="bg-white home-elements">
  <div class="container">
    <img class="how-to" src="assets/img/how-to-request-cryptocurrency.png" />
</div>

<div class="home-figures">
  <div class="row py-6">
    <div class="col-md-6 home-item">
      <h1>$780,000+</h1>
      <p>has already been transferred<br />
        using the Request network</p>
    </div>
    <div class="col-md-6 home-item">
      <h1>1500+</h1>
      <p>Requests for payment <br />
        already created</p>
    </div>
  </div>
</div>