<div *ngIf="request.status; else pendingMode" class="status-banner status-{{request.status.replace(' ','-')}} fs-16">
  {{request.status}}</div>
<ng-template #pendingMode>
  <div class="status-banner status-pending fs-16">
    pending</div>
</ng-template>
<request-addresses [request]="request" [account]="account" [payeeExtraInformation]="data.sellerInfo" [payerExtraInformation]="data.buyerInfo"></request-addresses>

<div class="p-4">

  <table mat-table #itemsTable [dataSource]="data.invoiceItems" class="w-100 invoice-items-table"
    *ngIf="data.invoiceItems">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="item-description-header col-5">Item</th>
      <td mat-cell *matCellDef="let invoiceItem" class="col-5">
        {{invoiceItem.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef class="col-2"> Price </th>
      <td mat-cell *matCellDef="let invoiceItem" class="col-2">
        <ng-container *ngIf="data.meta.version === '0.0.1'">
          {{invoiceItem.unitPrice}} {{request.currency}}
        </ng-container>
        <ng-container *ngIf="data.meta.version === '0.0.2'">
          {{this.web3Service.BNToAmount(this.web3Service.BN(invoiceItem.unitPrice), request.currency)}}
          {{request.currency}}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="col-1"> Qty </th>
      <td mat-cell *matCellDef="let invoiceItem" class="col-1">
        {{invoiceItem.quantity}}
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef class="col-2"> Discount </th>
      <td mat-cell *matCellDef="let invoiceItem" class="col-2">
        <ng-container *ngIf="!invoiceItem.discount && !invoiceItem.discountPercent; else displayDiscount">
          /
        </ng-container>
        <ng-template #displayDiscount>
          <ng-container *ngIf="data.meta.version === '0.0.1'">
            {{invoiceItem.discount}} {{request.currency}}
          </ng-container>
          <ng-container *ngIf="data.meta.version === '0.0.2'">
            {{this.web3Service.BNToAmount(this.web3Service.BN(invoiceItem.discount), request.currency)}}
            {{request.currency}}
          </ng-container>
          <ng-container *ngIf="data.meta.version === '0.0.3'">
            {{invoiceItem.discountPercent}} %
          </ng-container>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="taxPercent">
      <th mat-header-cell *matHeaderCellDef class="col-2"> Tax </th>
      <td mat-cell *matCellDef="let invoiceItem" class="col-2">
        {{invoiceItem.taxPercent || '0'}}%
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="invoiceItemsColumns" class="d-flex"></tr>
    <tr mat-row *matRowDef="let row; columns: invoiceItemsColumns;" class="d-flex"></tr>
  </table>
</div>
<div class="d-flex flex-wrap">
  <div *ngIf="data.invoiceItems" class="semi-bold fc-primary pl-4 pr-4" style="width: 100%;">
    <h4 class="fs-16" style="float: left;">Total without tax</h4>
    <h4 class="fs-18 text-right" id="request-expected-amount">
      {{this.web3Service.BNToAmount(taxFreeTotal, request.currency)}} {{request.currency}}
    </h4>
  </div>
  <div *ngIf="data.invoiceItems" class="semi-bold fc-primary pb-4 pl-4 pr-4" style="width: 100%;">
    <p class="fs-14" style="float: left;">Tax</p>
    <div class="fs-14 text-right" id="request-expected-amount">
      {{this.web3Service.BNToAmount(this.web3Service.BN(vatTotal), request.currency)}} {{request.currency}}
    </div>
  </div>
</div>
<div class="d-flex">
  <div class="w-100 text-center fc-primary py-4 request-amount">
    <div class="fs-28 semi-bold" id="request-expected-amount">{{ this.web3Service.BNToAmount(this.web3Service.BN(totalWithTax), request.currency) }} {{ request.currency }}</div>
    <div *ngIf="request.status == 'paid'">
      <div *ngFor="let e of request.events">
        <div *ngIf="e.name == 'UpdateBalance'" id="amount-usd" style="text-align: center;">
          <span class="hidden" id="invoice-date-paid">{{e._meta.timestamp + '000' | date: 'MMMM d, y'}}</span>
          <currency-converter *ngIf="amount" [from]="request.currency" [to]="'USD'" [amount]="amount"
            [timestamp]="e._meta.timestamp">
          </currency-converter>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data.paymentTerms && (data.paymentTerms.lateFeesPercent || data.paymentTerms.lateFeesFix || data.terms)"
  class="payment-terms px-4 pt-4 fs-14">
  <h4>Terms & Conditions</h4>
  <div *ngIf="data.paymentTerms.lateFeesPercent">{{data.paymentTerms.lateFeesPercent}}% of interest per month after
    the payment due date</div>
  <div *ngIf="data.paymentTerms.lateFeesFix">
    <ng-container *ngIf="data.meta.version === '0.0.1'">
      {{data.paymentTerms.lateFeesFix}}
    </ng-container>
    <ng-container *ngIf="data.meta.version === '0.0.2'">
      {{this.web3Service.BNToAmount(this.web3Service.BN(data.paymentTerms.lateFeesFix), request.currency)}}
    </ng-container>
    {{request.currency}} of late fees after the payment due date
  </div>
  <div *ngIf="data.terms">{{data.terms}}</div>
</div>

<div *ngIf="data.note" class="payment-note px-4 fs-14">
  <h4>Note</h4>
  <span id="reasonPdf">{{data.note}}</span>
</div>