<address-book *ngIf="openAddressBookModal" 
  (emitNewLabel)="updateTableWithNewLabel($event)"
  (emitHideAddressBook)="closedModal()"
  [addressToAdd]="addressToAdd">
</address-book>

<div class="container">
    <div class="d-flex mb-4">
      <mat-spinner class="ml-3" [diameter]="20"
      *ngIf="searchValue &&  loading && (!dataSource || dataSource.data.length < 1)"></mat-spinner>
      <span class="ml-auto semi-bold" *ngIf="!loading && dataSource && dataSource.data.length == 0">&nbsp;0 result found
        for this address</span>
    </div>

    <network-identifier [isRinkeby]="getNetworkValue() == 4"></network-identifier>
    <div class="top-filters">
      <div [ngClass]="{'active': this.dataSource.filter=='all'}" (click)="this.financialFilter('all')"><a>All Requests</a></div>
      <div [ngClass]="{'active': this.dataSource.filter=='outstanding'}" (click)="this.dataSource.filter = 'outstanding';"><a>Outstanding</a></div>
      <div [ngClass]="{'active': this.dataSource.filter=='paid'}" (click)="this.financialFilter('paid')"><a>Paid</a></div>
    </div>


    <!-- <div class="col-md-3">&nbsp;</div> -->
    <div class="d-flex flex-column">
      <mat-table matSort matSortDisableClear (matSortChange)="sortData($event)" matSortActive="_meta.timestamp" matSortDirection="desc" #table [dataSource]="dataSource">

        <!-- Age Column -->
        <ng-container matColumnDef="_meta.timestamp">
          <mat-header-cell *matHeaderCellDef start="desc" mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <span *ngIf="req._meta && req._meta.timestamp">{{ req._meta.timestamp * 1000 | date: 'y/MM/dd'  }}</span>
            <span *ngIf="req.timestamp">{{ req.timestamp | date: 'y/MM/dd'  }}</span>
          </mat-cell>
        </ng-container>
        <!-- Access Request Column -->
        <ng-container matColumnDef="requestId">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let req">
            <a *ngIf="req.requestId" routerLink="/request/requestId/{{req.requestId}}" class="fc-accent-secondary">View
              Request</a>
            <a *ngIf="req.txid" (click)="utilService.redirectToPage('/request/txHash/' + req.txid)"
              class="fc-accent-secondary">View Request</a>
            <div *ngIf="!req.requestId && !req.txid" class="placeholder"></div>
          </mat-cell>
        </ng-container>
        <!-- From Column -->
        <ng-container matColumnDef="request.payee.address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>From</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <div class="mobile-view">Requester:</div>
            <div *ngIf="req.request">
              <span
                (click)="openAddressModal(req.request.payee.address)">
                <angular-blockies [options]="{ seed: req.request.payee.address.toLowerCase(), size:5, scale:8 }"
                  class="blockies"></angular-blockies>
                <div class="address-label-outer"
                  [ngClass]="{'owner': req.request.payee.address == this.web3Service.accountObservable.value}">
                  {{ req.request.payee.label ? req.request.payee.label : (req.request.payee.address | shortAddress) }}
                </div>
              </span>
            </div>
            <div *ngIf="req.payee">
              <span
                (click)="openAddressModal(req.payee.address)">
                <angular-blockies [options]="{ seed: req.payee.address.toLowerCase(),size:5, scale:8 }"
                  class="blockies"></angular-blockies>
                <div class="address-label-outer"
                  [ngClass]="{'owner': req.payee.address == this.web3Service.accountObservable.value}">
                  {{ req.payee.label ? req.payee.label : (req.payee.address | shortAddress) }}
                </div>
              </span>
            </div>
            <div *ngIf="!req.payee && !req.request" class="placeholder"></div>
          </mat-cell>
        </ng-container>
        <!-- To Column -->
        <ng-container matColumnDef="request.payer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>To</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <div class="mobile-view">Payer:</div>
            <div *ngIf="req.request">
              <span
                (click)="openAddressModal(req.request.payer)">
                <angular-blockies [options]="{ seed: req.request.payer.toLowerCase(), size:5, scale:8 }"
                  class="blockies"></angular-blockies>
                <div class="address-label-outer"
                  [ngClass]="{'owner': req.request.payer == this.web3Service.accountObservable.value}">
                  {{ req.request.payerLabel ? req.request.payerLabel : (req.request.payer | shortAddress) }}
                </div>
              </span>
            </div>
            <div *ngIf="req.payer">
              <span (click)="openAddressModal(req.payer)">
                <angular-blockies [options]="{ seed: req.payer.toLowerCase(), size:5, scale:8 }" class="blockies">
                </angular-blockies>
                <div class="address-label-outer"
                  [ngClass]="{'owner': req.payer == this.web3Service.accountObservable.value}">
                  {{ req.payerLabel ? req.payerLabel : (req.payer | shortAddress) }}
                </div>
              </span>
            </div>
            <div *ngIf="!req.payer && !req.request" class="placeholder"></div>
          </mat-cell>
        </ng-container>
        <!-- Amount Column -->
        <ng-container matColumnDef="request.payee.expectedAmount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <div *ngIf="req.request; else pendingRequest">
              <span *ngIf="req.request.payee.address != searchValue; else payeeSpan">
                <div class="amount-dashboard negative">
                  -
                  {{ this.web3Service.BNToAmount(req.request.payee.expectedAmount, req.request.currency) }}&nbsp;{{ req.request.currency }}
                </div>

              </span>
              <ng-template #payeeSpan>
                <div class="amount-dashboard">
                  +
                  {{ this.web3Service.BNToAmount(req.request.payee.expectedAmount, req.request.currency) }}&nbsp;{{ req.request.currency }}
                </div>
              </ng-template>
            </div>
            <ng-template #pendingRequest>
              <div *ngIf="req.amount && req.currency; else spinSpan">
                <span *ngIf="req.payee.address != searchValue; else payeeSpan">
                  <div class="amount-dashboard negative">
                    - {{ req.amount }} {{ req.currency }}
                  </div>
                </span>
                <ng-template #payeeSpan>
                  <div class="amount-dashboard">
                    + {{ req.amount }} {{ req.currency }}
                  </div>
                </ng-template>

              </div>
            </ng-template>
            <ng-template #spinSpan>
              <div class="placeholder"></div>
            </ng-template>
          </mat-cell>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="request.status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <div *ngIf="req.request">
              <span class="status-{{ req.request.status.replace(' ','-') }}">{{ req.request.status }}</span>
            </div>
            <div *ngIf="req.status">
              <span class="status-{{ req.status.replace(' ','-') }}">{{ req.status }}</span>
            </div>
            <div *ngIf="!req.request && !req.status" class="placeholder"></div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [length]="this.dataSource.filteredData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="handlePageChange($event)">
      </mat-paginator>
    </div>

</div>
