@import 'variables';

div.top-filters {
	display: table;
	height: 66px;
	width: 100%;
	box-shadow: inset 0px -1px 0px #EBEBEB;
}

div.top-filters div {
	height: 100%;
	width: 33%;
	display: table-cell;

	background: #FAFAFA;
	border: 1px solid #EBEBEB;
	border-top-color: #FFB95F;;
	border-top-width: 1px;

	vertical-align: middle;
	text-align: center;
	font-family: Beatrice;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

div.top-filters div.active {
	border-bottom: #00E6A0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.mat-table {
	overflow: auto;
	max-height: 528px;
	font-weight: 400;
}

.mat-cell,
.mat-header-cell {
	text-align: center;
	font-size: 12px;
	color: $primary;
}

.mat-sort-header-container {
	justify-content: center !important;
}