@import 'variables';

div.top-filters {
	display: table;
	height: 66px;
	width: 100%;
	box-shadow: inset 0px -1px 0px #EBEBEB;
}

div.top-filters > div {
	height: 100%;
	width: 33%;
	display: table-cell;

	background: #FAFAFA;
	border: 1px solid #EBEBEB;
	border-top-color: #FFB95F;;
	border-top-width: 1px;

	vertical-align: middle;
	text-align: center;
	font-family: Beatrice;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;

	cursor: pointer;
}

div.top-filters div:hover {
	filter: brightness(95%);
}

div.top-filters div.active {
	border-bottom: #00E6A0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.mat-table {
	overflow: auto;
	max-height: 528px;
	font-weight: 400;
}

.mobile-view {
	display: none;
}

@media screen and (max-width: 500px) {
	.mobile-view {
		display: block;
		width: 100%;
		font-size: 50%;
		text-align: left;
		font-style: italic;
	}

	.mat-table {
		max-height: auto;
	}

	.mat-header-row {
		display: none;
	}

	.mat-row { 
		display: block;
		align-items: start;
		padding: 0px 2px;
		min-height: auto;
	}

	.mat-cell {
		display: block;
		text-align: unset;
	}
	
	mat-cell:first-of-type {
		padding: 0px 2px;
		text-align: left;
	}

	.mat-table .blockies {
		//top: 0px;
	}

	.cdk-column-request-payer {
		display: inline-block;
		width: 45%;
	}

	.cdk-column-request-payee-address {
		display: inline-block;
		width: 45%;
	}

	.cdk-column-request-payee-expectedAmount {
		display: inline-block;
		width: 70%;
		text-align: left;
	}

	.cdk-column-request-status {
		display: inline-block;
		width: 25%;
		text-align: right;
	}

	.cdk-column-requestId {
		display: none;
	}
}

.mat-cell,
.mat-header-cell {
	text-align: center;
	font-size: 12px;
	color: $primary;
	margin-left: 5px;
}

.mat-sort-header-container {
	justify-content: center !important;
}