<div *ngIf="createModalOpen" class="create-float-bg" (click)="closeModal()"></div>
<div *ngIf="createModalOpen" class="create-float">
  <i class="close-icon" (click)="closeModal()">×</i>
  <h2 style="text-align: center; margin-bottom: 30px;"><strong>This application is deprecated.</strong><br /></h2>
  <p style="text-align: center; margin-top: 36px;">We only offer limited support. To request funds in cryptocurrency please use the new version, <a style="color: #00E6A0;" href="https://create.request.network/">Request Create</a></p>
</div>