@import 'variables';

footer {
  color: #000000;
  .request-logo {
    height: 50px;
  }

  a .fa {
    color: #000000;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    a {
      color: #000000;
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
  }

  .footer-nav {
    a {
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }

  .footer-icons {
    margin-top: 14px;
    a {
      padding: 10px;
      font-size: 26px;
    }
  }
}
