<div *ngIf="broadcastingRequestCount != 0 || notificationCount != 0" (click)="clickPendingRequestsTab()" class="pending-requests-float">YOUR PENDING REQUESTS<i class="pending-notifications">{{notificationCount}}</i></div>

<div *ngIf="showPendingPopup && requestList.length > 0" class="pending-request-popup">
    <div *ngFor="let pendingRequest of requestList">
        {{ pendingRequest.txid.substring(0,5) }}...{{ pendingRequest.txid.substring(61,66) }} ### {{pendingRequest.status}}<br/>
    </div>
</div>