<div *ngIf="description" class="p-3 px-5 request-metadata">
  <div class="p-4" *ngIf="!data;else metadata_section">loading...</div>
  <ng-template #metadata_section>
    <div class="p-3"></div>
    
    <div class="mb-2"><b>Reason</b></div>
    <p id="reasonPdf" class="mb-0">
      {{description}}
      <!-- <mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl" class="fc-blue-grey">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          {{node.text}} <span *ngIf="node.value">: {{node.value}}</span>
        </mat-tree-node>
        
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.text">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.text}} <span *ngIf="node.value">: {{node.value}}</span>
        </mat-tree-node>
      </mat-tree> -->
    </p>
    <div class="p-3"></div>
  </ng-template>
</div>