<address-book *ngIf="openAddressBookModal" 
  (emitNewLabel)="updateLabel($event)"
  (emitHideAddressBook)="closedModal()"
  [addressToAdd]="address">
</address-book>

<div class="request-address-outer" [popover]="address" popoverPlacement="bottom" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true"
  (click)="openAddressModal()">
  <div class="request-address-title semi-bold">{{ title }}</div>
  <div class="blockies-address-container">
    <div class="blockies-outer" [style.width]="'64px'">
      <app-blockies [address]="address.toLowerCase()"></app-blockies>
    </div>
    <div class="request-address-item-outer {{ primaryLabel ? 'primary-label' : '' }}">
      <span>
        {{label ? label : address}}
      </span>
    </div>
  </div>
</div>
<span class="hidden pdf-label">{{ label ? label : address }}</span>
<span class="hidden pdf-address">{{ address }}</span>