@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/utilities';

@import '~font-awesome/scss/font-awesome';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  @include serif-font();
  min-width: 320px;
  height: 100%;
  font-weight: 300;
}

body *[class*="mat"]:not(.mat-icon) {
  @include serif-font();
}

body {
  margin: 0;
}

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

.mat-placeholder-required.mat-form-field-required-marker {
  display: none !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

qrcode.qr-code {
  img {
    margin: auto;
  }
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 340px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 577px) {
  .hidden-sm-up {
    display: none !important;
  }
}

.flex-1 {
  flex: 1 0 auto;
}

.flex-inf {
  flex: 500 0 auto;
}

// related to  expansion pannel on payment dialog
.align-checkbox {
  position: relative;
  top: 3px;
}

.error-anchor {
  color: $primary !important;
  text-decoration: underline !important;
}

.mat-expansion-panel {
  box-shadow: initial !important;
}

.mat-expansion-panel-header {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.mat-expansion-panel-header.mat-expanded {
  color: $blue-grey !important;
}

.mat-expansion-panel-header,
.mat-expansion-panel-body {
  color: $blue-grey;
  padding: initial !important;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 1;
  background: white;
  min-height: 67.5px;
  color: $primary;
  border-bottom: 2px solid $grey-light;
  .request-logo {
    height: 30px;
    margin-top: 7px;
  }
}

.status {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.status-cancelled {
  @extend .status;
  background-color: #333333;
}

.status-in-progress {
  @extend .status;
  background-color: #8ab4fa;
}

.status-complete, .status-paid {
  @extend .status;
  background-color: $green;
}

.status-overpaid {
  @extend .status;
  background-color: $purple;
}

.status-accepted {
  @extend .status;
  background-color: #406278;
}

.status-created, .status-awaiting-payment, .status-pending {
  @extend .status;
  background-color: $orange;
}

.currency-select {
  overflow:visible !important;
  .mat-option, .show-more-button {
    height: 2rem !important;
    color: #617b9f !important;
    font-size: 14px !important;
    font-weight: 400;
  }
  .show-more-button {
    text-align: center;
    cursor: pointer;
  }
  &.show-all .mat-option {
    display: block !important;
  }
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.currencyIcon {
  max-height: 16px;
  max-width: 16px;
  position: relative;
  top: -1px;
}

.warning-snackbar {
  background-color: #fcb352 !important;
}

.info-snackbar {
  background-color: #008c62 !important;
}

.success-snackbar {
  background-color: #1dcc8c !important;
}

.mat-simple-snackbar {
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  button {
    color: #fff;
  }
}

mat-toolbar.cta-toolbar {
  :first-child {
    border-bottom-left-radius: 7px;
    flex: 1;
  }
  button:last-child {
    border-bottom-right-radius: 7px;
    flex: 1;
  }
  button {
    border-radius: 0;
    box-shadow: none !important;
    height: 100%;
  }
  &:empty {
    display: none;
  }
}

#invoice-footer-outer {
  &:empty {
    display: none;
  }
}

.actions-menu {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
  max-width: 365px !important;
  width: 25.25vw;
  min-width: 185px !important;
  .mat-menu-item {
    color: $blue-grey;
    padding: 0 3rem;
  }
}

button.account-menu-button {
  font-size: 16px;
  font-weight: initial;
  max-width: 100%;
}

.mat-menu-custom {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
  max-width: 100% !important;
  button {
    font-size: 14px;
  }
  .mat-menu-content {
    padding: 0 !important;
  }
  .mat-menu-item {
    color: $blue-grey !important;
  }
}

.blockies {
  width: 26px;
  height: 26px;
  canvas {
    width: inherit;
    height: inherit;
    image-rendering: pixelated;
    border-radius: 100%;
  }
}

button.no-focus-overlay .mat-button-focus-overlay {
  background-color: transparent;
}

mat-toolbar.mat-toolbar {
  background: $white;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

// CUSTOMIZE POPOVER
.popover .arrow {
  display: none;
}

.mat-tooltip {
  transform-origin: center top 0px;
  transform: scale(1);
}

.popover {
  color: #fff;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(97, 97, 97, 0.9);
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  font-weight: 300;
}

// Select address table
.address-row {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  &:hover {
    color: $accent !important;
  }
}

// NETWORK ID
.network-icon {
  height: 12px;
  min-width: 12px;
  margin: 8px;
}

.network {
  .network-icon {
    display: none;
  }
  .network-name {
    &::before {
      content: '? Unknown Network';
      color: #aeaeae;
      margin-left: 8px;
      font-size: 12px;
    }
  }
}

.network-1 {
  span.network-icon {
    display: flex;
    transform: rotate(45deg);
    background: #038789;
  }
  span.network-name {
    &::before {
      content: 'Main Network';
      margin-left: 0;
      color: #038789;
    }
  }
}

.network-3 {
  span.network-icon {
    display: flex;
    background: #e91550;
    border-radius: 10px;
  }
  span.network-name {
    &::before {
      content: 'Ropsten Test Net';
      margin-left: 0;
      color: #e91550;
    }
  }
}

.network-42 {
  span.network-icon {
    display: flex;
    transform: rotate(45deg);
    border: 3px solid #690496;
  }
  span.network-name {
    &::before {
      content: 'Kovan Test Net';
      margin-left: 0;
      color: #690496;
    }
  }
}

.network-4 {
  span.network-icon {
    display: flex;
    background: #ebb33f;
  }
  span.network-name {
    &::before {
      content: 'Rinkeby Test Net';
      margin-left: 0;
      color: #ebb33f;
    }
  }
}

// CUSTOMIZE MAT-INPUT CSS
input.mat-input-element,
span.mat-select-value-text,
textarea.mat-input-element,
div.mat-input-suffix,
div.mat-input-prefix {
  color: $blue-grey;
}

.mat-form-field-hint-wrapper > mat-hint.mat-hint,
.mat-form-field-hint-wrapper > div.mat-hint,
.mat-form-field-label-wrapper > label.mat-form-field-label {
  color: rgba($blue-grey, 0.6);
}

.mat-form-field-wrapper > div.mat-form-field-underline {
  background-color: rgba($blue-grey, 0.2);
}

// FONT COLORS
.fc-primary {
  color: $primary;
}

.fc-warn {
  color: $warn;
}

.fc-green {
  color: $green;
}

.fc-accent {
  color: $accent !important;
}

.fc-accent-secondary {
  color: #3E82F7 !important;
}

.fc-white {
  color: #fff;
}

.fc-blue-grey {
  color: $blue-grey !important;
}

// BACKGROUND COLORS
.bg-primary {
  background: $primary;
}

.bg-grey-white {
  background-color: $grey-white;
}

.bg-grey-whiter {
  background: $grey-whiter !important;
}

.bg-grey-white-blue {
  background-color: $grey-white-blue;
}

.bg-white {
  background: #fff;
}

// FONT SIZE & WEIGHT
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-22 {
  font-size: 22px !important;
}


.fs-24 {
  font-size: 24px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.fw-initial {
  font-weight: initial !important;
}

.lh-14 {
  line-height: 14px;
}

.lh-18 {
  line-height: 18px;
}

.lh-22 {
  line-height: 22px !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

// BORDERS & SHADOW
.sh-blue {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.bor-accent {
  border: 1px solid $accent !important;
}

.br-2 {
  border-radius: 2px;
}

.br-7 {
  border-radius: 7px !important;
}

.btr-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.bbr-7 {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

// fix chrome autofill theme
input {
  &:-webkit-autofill {
    -webkit-text-fill-color: $blue-grey !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

// remove number input spinners
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// supports Mozilla
input[type='number'] {
  -moz-appearance: textfield;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px !important;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px !important;
  }
}

h1 {
  color: #000;
  font-size: 36px;
  font-weight: bold;
}

b {
  font-weight: bold !important;
}

ul {
  padding-left: 0;
  list-style: none
}

ul li {
  position: relative; 
  margin-bottom: 24px;
}

ul li:after {
  content: '';
  position: absolute;
  left: -30px;
  top: 11px;
  margin-top: -1px;
  height: 3px;
  width: 16px;
  background: #00E6A0;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: #000 !important;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-weight: 300 !important;
}

.home-invoice-header {
  margin-bottom: 16px;
  border-bottom: 1px solid #E9E9E9;
}

.status-banner {
  width: 100%;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  padding: 12px;
  font-weight: 500;
  box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.5);
}

.invoice-date {
  margin-top: 26px;
}

.cta-toolbar .void-request-button {
  width: auto;
  margin: 0 auto;
  height: 46px !important;
  border: 1px solid #FF3939;
  border-radius: 3px !important;
  margin-bottom: 40px;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FF3939;
  line-height: 44px;
}

.cta-toolbar .void-request-button:hover {
  background: #FF3939 !important;
  color: #fff;
}

.request-invoice-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: -21%;
  height: 100%;
  width: 2px;
  background: #EFEFEF;
}

#download-receipt {
  cursor: pointer;
}

.mat-sort-header-button {
  font-weight: 600 !important;
}

.mat-header-cell {
  font-size: 16px !important;
}
.mat-cell {
  font-size: 14px !important;
}

.mat-paginator-container {
  font-size: 14px !important;
  
  .span.mat-select-value-text {
    color: #000 !important;
  }
}

.cdk-column-request-arrow {
  flex: 0 0 105px !important;
}

.cdk-column-request-status {
  flex: 0 0 125px !important;
}

.cdk-column-requestId, .cdk-column-payer {
  flex: 0 0 150px !important;
}

.cdk-column-_meta-timestamp {
  flex: 0 0 300px;
}

.gas-container {
  flex: 250 0 auto;

  svg {
    margin-right: 8px;
  }

  .gas-price-label  {
    font-weight: 600;
  }
}
.home-elements {
  padding: 60px 30px;
}

.home-figures {
  background: #00261B;
  color: #fff;
  text-align: center;
  position: relative;

  .home-item {
    padding: 150px 0;
  }

  h1 {
    color: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px; 
    background: #fff;
  }
}

ul {
  padding-left: 30px;
}

.mat-progress-bar-fill::after {
  background-color: #000 !important;
}

.mat-progress-bar-background {
  background-color: #000 !important;
}

.mat-progress-bar .mat-progress-bar-buffer {
  background-color: #fff !important;
}

.mat-progress-bar {
  border: 1px solid #000;
  height: 10px !important;
}

.hidden-if-empty {
  &:empty {
    display: none;
  }
}

#invoice-footer-outer button {
  height: 80px;
}

.request-invoice-container {
  padding: 0 !important;
}

#request-invoice-right {
  padding: 0;
}

@media (max-width: 1649px) {
  .request-container {
    max-width: 1180px !important;
  }
  .request-invoice-container {
    flex: 0 0 50%;
    max-width: 50%;
  }

  #request-invoice-right {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .request-invoice-container:after {
    right: -18%;
  }
}

.show-mobile {
  display: none !important;
}

@media (max-width: 767px) {
  .home-figures:after {
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
  }

  .home-figures .home-item {
    padding: 70px 0;
  }

  .request-invoice-container, #request-invoice-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  #request-invoice-right {
    margin-bottom: 0 !important;
  }

  .request-container > .row, .fc-primary > .row {
    margin-top: 22px !important;
  }

  .request-invoice-right-inner {
    padding: 40px 2rem;
    background: #fff;
    margin-top: 40px;
    box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;

    button {
      cursor: pointer;
    }
  }

  .show-mobile {
    display: block !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .app-search-container {
    flex: 100% 0 0 !important;

    .searchBar {
      width: 100%;
    }
  }

  .mobile-account {
    .network, #wallet-type, .material-icons {
      display: none !important;
    }
    .flex-column {
      border-right: 0 !important;
    }
  }

  .footer-outer {
    margin-left: 0 !important;
  }

  header .request-logo {
    height: 24px;
  }

  footer > .m-3 {
    margin: 0 !important;
  }

  .progress-bar-created, .progress-bar-pending {
    width: 80% !important;
  }

  .mat-simple-snackbar {
    max-height: 100%;
  }
}

.hidden {
  display: none !important;
}

// Mobile Popup

.mobile-popup {
  position: relative;
  display: none;
  z-index: 9999999;
  text-align: center;
  background: #3e82f7;

  &.show {
    display: block;
  }

  .mobile-popup-inner {
    margin: 0 auto;
    padding: 20px 20px;
    display: inline-block;
  }

  p {
    color: #fff;
    margin-bottom: 8px;
  }
  
  .close-icon {
    font-style: normal;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    color: #fff;
    padding: 20px;
    line-height: 16px;
    cursor: pointer;
  }

  .btn {
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: underline;
  }

  .metamask-btn {
    background: #F79220;
  }

  .trust-btn {
    background: #3375BB;
  } 
}

.email-popup-title {
  margin: 0px -24px;
  border-bottom: 1px solid red;
  padding: 0 24px 20px 24px;
  border-bottom: 1px solid #dfe5ec;
}

.email-dialog-popup {
  button {
    flex: 1;
    height: 80px;
  }
  .button-container {
    margin: -24px;
    margin-top: 46px;
  }
  input {
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #dfe5ec;
    padding: 14px 0 !important;
    margin-top: 14px;
    font-size: 16px !important;
    color: #000 !important;
  }
  .mat-form-field-infix {
    margin-top: 20px;
    input {
      padding: 0 !important;
      margin-bottom: 14px;
      border-bottom: 0;
    }
  }
  .email-body {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 0;
    background: transparent;
    color: #000;
    margin-top: 22px;
    line-height: 1.6em;
    font-size: 18px;
  }
}

.mat-button.mat-accent:disabled {
  opacity: 0.5;
}

#request-invoice-right {
  button {
    background: transparent;
    border: 0 !important;
    color: #111111;
    margin: 0 !important;
    cursor: pointer;
  }
}

.request-amount {
  background: #FAFAFA;
}

